*{
    box-sizing: border-box;
}

body{
    text-align:justify;
    font-family: sans-serif;
    margin:0;
    min-height: 100vh;
}

#header{
    text-align: center; 
    background-color: #DD4814;
    color: #EDEDED;
    padding: 1.5rem;
}

#navbar{
    position: sticky;
    top: .1px;
    text-align: center;
    background-color: #782852;
    padding: .25rem;
}

#content h1{
    text-align:center;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: rgb(37, 37, 255);
}

a:hover{
    text-decoration: underline;
}

#navbar a{
    color:#EDEDED;
    text-decoration: none;
    padding: .2rem;
    margin-left: 1rem;
}

#navbar a:hover{
    padding-left: .2rem;
    padding-right: .2rem;
    background-color: #913464;
}

#par{
    margin: 2rem;
}

#mypic{
    float: left;
    width: 10rem;
    margin-top: 2.4rem;
}

#footer{
    color: #AAAAAA;
    font-size: .7rem;
    text-align: center;
}

@media screen and (max-width: 4072px){
    #par{
        margin-left: 20vw;
        margin-right: 20vw
    }

    #mypic{    
        margin-left: 20vw;
        margin-right: 2vw;
    }
}

@media screen and (max-width: 600px){
    #par{
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #mypic{    
        margin-left: 10vw;
        margin-right: 2vw;
    }
}

@media screen and (max-width: 400px){
    #par{
        margin-left: 1vw;
        margin-right: 1vw;
    }

    #mypic{    

        float:none;
        width: 19rem;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 450px){
    #mypic{    
        float:none;
        width: 15rem;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 300px){
    #mypic{    
        float:none;
        width: 12rem;
        margin-bottom: 10px;
    }
}